a:hover{
	text-decoration: none;
}

.header{
	width: 100%;
	position: relative;
}

.header__wrap{
	width: 100%;
	position: absolute;
	top: 30px;
	flex-direction: column;
	z-index: 5;
}

.logo__wrap{
	width: 59%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-left: auto;
}

.logo-img{
	width: 30%;
	height: auto;
	border-radius: 50%;
	margin-bottom: 50px;
}

.callback{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	right: 30px;
}

.phone-num,.phone-num a,
.whatsapp, .whatsapp a, .vk{
	font-family: 'Roboto', sans-serif;
	color: yellow;
	font-size: 20px;
	font-weight: 600;
}

.vk a{
	font-size: 12px;
	color: yellow;
}

.phone-icon,
.whatsapp-icon{
	margin-right: 10px;
	font-size: 25px!important;
}

.h1__header{
	font-family: 'Stalinist One', cursive;
	font-size: 48px;
	text-align: center;
	color: yellow;
}

.header-gallery{
	width: 100%;
	height: 500px;
	position: relative;
	z-index: 2;
}

.header__slide{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.production{
	margin-top: 50px;
	width: 100%;
	position: relative;
}

.prod-wrapper{
	flex-direction: column;
}

.h2-prod{
	font-family: 'Stalinist One', cursive;
	font-size: 30px;
	text-align: center;
	color: yellow;	
}

.prod-gallery{
	margin-top: 20px;
	width: 100%;
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.prod-gallery__item{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 30px;
}

.prod-gallery__item img{
	width: auto;
}

.prod-gallery__item__title{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

.prod-gallery__item__price{
	font-size: 19px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;	
}

.ingredients{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;	
}

@media(min-width: 768px){
	.arrow-next, .arrow-prev{
		display: none;
	}
}

@media (max-width: 767px){
	.prod-wrapper{
		flex-direction: row;
	}

	.arrow-next, .arrow-prev{
		display: block;
	}
}

@media (max-width: 575px){
	.prod-gallery__item{
		align-items: center;
		margin-bottom: 50px;
	}
}


.address{
	width: 100%;
	margin-top: 50px;
}

.p{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;	
}

.bold{
	font-weight: 600;
}


.footer{
	width: 100%;
	margin-top: 100px;
	color: white;
	background-color: #242729;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-logo{
	position: relative;
}

.footer-logo img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.bgc-black{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: black;
	opacity: 0.5;
	top: 0;
}


.footer-callback{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer-callback-title{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;	
	font-weight: 600;	
}

.footer-phone-num,
.footer-whatsapp,
.footer-vk,
.footer-address{
	font-size: 17px;
	font-family: 'Roboto', sans-serif;		
}

.footer-bottom{
	margin-top: 30px;
}

.copyright{
	font-size: 13px;
	font-family: 'Roboto', sans-serif;	
	text-align: center;
}

.by{
	font-size: 13px;
	font-family: 'Roboto', sans-serif;	
	color: yellow;
	cursor: pointer;
}


@media(max-width: 767px){
	.logo__wrap{
		width: 100%;
	    flex-direction: column;
	    align-items: center;
	}

	.callback{
		right: 0;
	}

	.logo-img{
		width: 150px;
		height: 150px;
	}

	.h1__header{
		font-size: 29px;
		margin-top: 20px;
	}
}

@media(max-width: 427px){
	.h1__header{
		font-size: 20px;
	}

	.header-gallery{
		height: 444px;
	}
}