body{
	background-image: url('img/bg.jpg');
	background-repeat: repeat;
	/*background-size: cover;*/
	background-position: center;
}

a:hover{
	text-decoration: none;
}

.header{
	width: 100%;
	position: relative;
}

.header__wrap{
	width: 100%;
	position: absolute;
	top: 30px;
	flex-direction: column;
	z-index: 5;
}

.logo__wrap{
	width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-left: auto;
}

.logo-img{
	width: 36%;
    height: auto;
	border-radius: 18%;
	margin-bottom: 50px;
	border: 2px solid black;
}

.callback{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	right: 30px;
}

.phone-num,.phone-num a,
.whatsapp, .whatsapp a, .vk{
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 20px;
	font-weight: 600;
	text-shadow: 
				-0   -2px 0   #000000,
		 0   -2px 0   #000000,
		-0    2px 0   #000000,
		 0    2px 0   #000000,
		-2px -0   0   #000000,
		 2px -0   0   #000000,
		-2px  0   0   #000000,
		 2px  0   0   #000000,
		-1px -2px 0   #000000,
		 1px -2px 0   #000000,
		-1px  2px 0   #000000,
		 1px  2px 0   #000000,
		-2px -1px 0   #000000,
		 2px -1px 0   #000000,
		-2px  1px 0   #000000,
		 2px  1px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000;
}

.vk a{
	font-size: 12px;
	color: white;
}

.phone-icon,
.whatsapp-icon{
	margin-right: 10px;
	font-size: 25px!important;
}

.whatsapp-icon{
	color: green;
}

.vk-icon{
	color: blue;
}

.h1__header{
	background-image: url('img/bg-h1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	text-align: center;
	color: black;
	width: 80%;
	margin: 0 auto;
	border-radius: 18%;
	display: flex;
    justify-content: center;
    align-items: center;
}

.red-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #c10505;
    margin-right: 14px;
    margin-left: 14px;
    position: relative;
    top: 5px;
    border: 1px solid black;
}

.latin{
	font-weight: 600;
	font-size: 62px;
	margin-right: 16px;
	display: inline-block;
}

.header-gallery{
	width: 100%;
	height: 500px;
	position: relative;
	z-index: 2;
}

.header__slide{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@media(max-width: 1132px){
	.h1__header {
    	font-size: 29px;
	}
}

.prod-slide{
	margin-bottom: 15px;
}

.production{
	margin-top: 50px;
	width: 100%;
	position: relative;
}

.prod-wrapper{
	flex-direction: column;
}

.h2-prod{
	font-family: 'Stalinist One', cursive;
	font-size: 30px;
	text-align: center;
	color: black;	
}

.prod-gallery{
	margin-top: 20px;
	width: 100%;
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.prod-gallery__item{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}

.prod-gallery__item img{
	width: auto;
	margin-bottom: 5px;
}

.prod-gallery__item__title{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	text-align: center;
}

.prod-gallery__item__price{
	font-size: 19px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;	
}

.ingredients{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-align: center;	
}

@media(min-width: 768px){
	.arrow-next, .arrow-prev{
		display: none;
	}
}

@media (max-width: 767px){
	.prod-wrapper{
		flex-direction: row;
	}

	.arrow-next, .arrow-prev{
		display: block;
	}
}

@media (max-width: 575px){
	.prod-gallery__item{
		align-items: center;
		margin-bottom: 50px;
	}
}


.address{
	width: 100%;
	margin-top: 50px;
}

.p{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;	
}

.bold{
	font-weight: 600;
}


.footer{
	width: 100%;
	margin-top: 100px;
	color: white;
	background-color: #242729;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-logo{
	position: relative;
}

.footer-logo img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.bgc-black{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: black;
	opacity: 0.5;
	top: 0;
}


.footer-callback{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer-callback-title{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;	
	font-weight: 600;	
}

.footer-phone-num,
.footer-whatsapp,
.footer-vk,
.footer-address{
	font-size: 17px;
	font-family: 'Roboto', sans-serif;	
}

.footer-phone-num a,
.footer-whatsapp a{
	color: white;
}



.footer-bottom{
	margin-top: 30px;
}

.copyright{
	font-size: 13px;
	font-family: 'Roboto', sans-serif;	
	text-align: center;
}

.by{
	font-size: 11px;
	font-family: 'Roboto', sans-serif;	
	color: white;
	cursor: pointer;
}

.phone-icon-footer{
	margin-right: 11px;
}


@media(max-width: 767px){
	.logo__wrap{
		width: 100%;
	    flex-direction: column;
	    align-items: center;
	}

	.callback{
		right: 0;
	}

	.logo-img{
		width: 150px;
		height: 150px;
	}

	.h1__header{
		margin-top: 20px;
	}
}

@media(max-width: 764px){
	.h1__header{
		font-size: 25px;
	}	
}

@media(max-width: 686px){
	.h1__header{
		font-size: 20px;
	}

	.latin{
		font-size: 48px;
	}
}

@media(max-width: 578px){
	.h1__header{
		width: 97%;
	}
}

@media(max-width: 477px){
	.h1__header{
		font-size: 17px;
	}
}

@media(max-width: 429px){
	.red-circle{
		display: none;
	}

	.latin{
		margin-right: 0;
	}
}

@media(max-width: 427px){
	.header-gallery{
		height: 444px;
	}
}

@media(max-width: 991px){
	.footer-phone-num,
	.footer-whatsapp,
	.footer-vk,
	.footer-address{
		font-size: 14px;
	}

	.footer-callback-title{
		font-size: 16px;
	}
}

@media(max-width: 767px){
	.footer-logo{
		display: flex;
    	justify-content: center;
    	align-items: center;
	}

	.footer-callback{
		align-items: center;
	}

	.footer-address{
		display: flex;
		flex-direction: column;
    	justify-content: center;
    	align-items: center;
	}

	.by{
		text-align: center;
	}
}